<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

  <title>Snippet Saver</title>
</head>
<body>
 <div class="min-h-screen bg-black text-green-400 flex items-center justify-center px-4">
  <form action="/login" method="POST" class="flex flex-col gap-4 w-full max-w-sm">
   

    <input type="email" name="email" placeholder="Email ID"  required
      class="bg-black border border-green-500 text-green-300 placeholder-white px-4 py-2 rounded outline-none "/>


    <input type="password" name="password" placeholder="Password" required
      class="bg-black border border-green-500 text-green-300 placeholder-white px-4 py-2 rounded outline-none "/>



    <button type="Login"
      class="bg-green-500 mb-1/2 text-black font-semibold py-2 rounded hover:bg-green-600 transition">
      Login
    </button>
    
  </form>
</div>



</body>
</html>